NET "sum<0>" LOC="U18";
NET "sum<1>" LOC="M14";
NET "sum<2>" LOC="N14";
NET "sum<3>" LOC="L14";
NET "sum<4>" LOC="M13";
NET "sum<5>" LOC="D4";
NET "sum<6>" LOC="P16";
NET "sum<7>" LOC="N12";
NET "temp<0>" LOC="A10";
NET "temp<1>" LOC="D14";
NET "temp<2>" LOC="C14";
NET "temp<3>" LOC="P15";
NET "temp<4>" LOC="P12";
NET "selected<0>" LOC="R5";
NET "selected<1>" LOC="T5";
NET "RESET" LOC="T15";
NET "b" LOC="F5" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "c" LOC="F6" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "d" LOC="P4" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "myClk" LOC="L15";
NET "a" LOC="E4" | CLOCK_DEDICATED_ROUTE = FALSE;